
html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.content {
	padding: 50px 0;
	max-width: 1000px;
	margin: 0px auto;
}
.tabs {
	margin: 0px 0px 50px 0px;
}
.tabs-items {
	display: flex;
}
.tabs-item {
	flex: 0 1 33.333%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.tabs-item span {
	position: relative;
	z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-block {
	position: relative;
	padding: 20px;
	font-size: 18px;
	line-height: 24px;
	display: none;
}
.tabs-block.active {
  display: block;
}
.tabs-block:before {
	content: "";
	height: 50px;
	width: 33.333%;
	position: absolute;
	top: -50px;
}

.tabs-block:nth-child(1) {
	background-color: #eca1ec;
}
.tabs-block:nth-child(1):before {
	background-color: #eca1ec;
	left: 0;
}
.tabs-block:nth-child(2) {
	background-color: #a8ece1;
}
.tabs-block:nth-child(2):before {
	background-color: #a8ece1;
	left: 33.333%;
}
.tabs-block:nth-child(3) {
	background-color: #f3dab4;
}
.tabs-block:nth-child(3):before {
	background-color: #f3dab4;
	right: 0;
}