#main {
  width: 100%;
  height: 800px;
  overflow-y: auto;
}
#content {
    width: 100%;
    height: 2000px;
    background-color: rgb(212, 211, 211);
}
#content div {
  height: 200px;
}
#content div:nth-child(2n+1) {
    background-color: rgb(247, 170, 208);
}

button {
  background-color: rgb(145, 235, 145);
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  position: fixed;
  right: 100px;
  bottom: 30%;
  text-transform: uppercase;
  cursor: pointer;
}
.button-hidden {
  visibility: hidden;
}