#main {
    width: 500px;
    height: 500px;
    background: gray;
    position: relative;
  }
  #square {
    width: 50px;
    height: 50px;
    background: pink;
    position: absolute;
    top: 0;
    left: 0;
  }
  